
<div class="row" *ngIf="showBets()" fxLayoutAlign="center center">
    <mat-tab-group >
        <mat-tab label="Simple">
            <app-simple-bet></app-simple-bet>
        </mat-tab>
        <mat-tab label="Combiné"> </mat-tab>
    </mat-tab-group>
</div>

<div class="row" *ngIf="!showBets()" fxLayout="column" fxLayoutAlign="center center" style="text-align: center; padding-top: 100px">
    <div>
        <div style="color: #283593;">
            <mat-icon style="font-size: 70px;margin-right: 35px;">mood_bad</mat-icon>
        </div>
        <h5>Aucun pari en cours</h5>
    </div>
</div>

