<div>
    <div class="row" *ngIf="!displayErrorSearch && !isSearching">
        <div class="offset-md-3 col-md-6 offset-md-3">
            <app-bet-detail *ngIf="bets && bets.length > 0" [bets]="bets" [showIcon]="showIcon" [userId]="userId" [combinedAmount]="combinedAmount"></app-bet-detail>
            <div *ngIf="!bets" fxLayout="column" fxLayoutAlign="center center"
                 style="text-align: center; display: block; margin-top: 30px">
                <app-spinner [message]="'Chargement du pari '"></app-spinner>
            </div>
        </div>
    </div>


    <div *ngIf="isSearching && !displayErrorSearch" fxLayout="column" fxLayoutAlign="center center" style="text-align: center; margin-top: 30px">
        <app-spinner [message]="'Affichage du pari en cours'"></app-spinner>
    </div>

    <div *ngIf="displayErrorSearch" style="text-align: center; margin-top: 30px">
        <div style="color: #283593;">
            <mat-icon style="font-size: 70px;margin-right: 35px;">mood_bad</mat-icon>
        </div>
        <h5>Pari introuvable ... le numéro saisi ne correspond à aucun pari</h5>
    </div>
</div>


<!--
<div *ngIf="loadingBets"  fxLayout="column" fxLayoutAlign="center center" style="text-align: center">
    <app-spinner [message]="'Affichage des paris'"></app-spinner>
</div>-->
