<div *ngIf="!showSearchBar">
    <div class="row">
        <div class="offset-md-3 col-md-6 offset-md-3">
            <app-bet-detail [bets]="bets" [showIcon]="true" [userId]="userId"></app-bet-detail>
        </div>
    </div>
</div>

<div *ngIf="showSearchBar">
    <div class="row">
        <div class="offset-md-3 col-md-6 offset-md-3">

            <div class="search-bar">
                <mat-form-field>
                    <mat-label>Numéro de pari</mat-label>
                    <mat-placeholder>Mise</mat-placeholder>
                    <input [(ngModel)]="input" autocomplete="off" type="number" matInput required>
                </mat-form-field>

                <button mat-raised-button color="primary" class="m-1" (click)="searchBetOwner() ">
                    <mat-icon>search</mat-icon>
                </button>

            </div>

            <div *ngIf="isSearching && !displayErrorSearch" style="text-align: center">
                <mat-spinner style="display: initial;"></mat-spinner>
            </div>

            <div *ngIf="displayErrorSearch" style="text-align: center">
                <div>
                    <div style="color: #283593;">
                        <mat-icon style="font-size: 70px;margin-right: 35px;">cancel</mat-icon>
                    </div>
                    <h5>Pari introuvable ... le numéro saisi ne correspond à aucun pari</h5>
                </div>
            </div>

            <div *ngIf="!isSearching && bets">
                <app-bet-detail [bets]="bets" [showIcon]="false" [userId]="userId"></app-bet-detail>
            </div>
        </div>
    </div>
</div>

<!--
<div *ngIf="loadingBets"  fxLayout="column" fxLayoutAlign="center center" style="text-align: center">
    <app-spinner [message]="'Affichage des paris'"></app-spinner>
</div>-->
