<div fxLayout="row" fxLayoutAlign="space-between center" class="flex-p">
    <div fxLayout="row">
        <mat-button-toggle-group #controls="matButtonToggleGroup" appearance="legacy">
            <mat-button-toggle value="add" (click)="openNewGameDialog(null)">
                <fa-icon style="font-size: 150%" icon="calendar-plus"></fa-icon>
            </mat-button-toggle>
            <mat-button-toggle value="search">
                <mat-icon>search</mat-icon>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <form class="user-search" [class.show]="controls.value == 'search'">
        <mat-form-field appearance="outline" class="user-search-input">
            <input autocomplete="off" matInput placeholder="Chercher par nom d'équipe" [(ngModel)]="searchText"
                   name="search">
        </mat-form-field>
    </form>
        <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-left: 10px">
                <mat-checkbox [(ngModel)]="showPassedGames">Afficher matchs terminés</mat-checkbox>
        </div>
</div>

<div fxLayout="row wrap">
    <div *ngFor="let game of filteredGames() | UserSearchPipe : searchText; let i=index"
         fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50" class="flex-p">
        <mat-card class="p-0">
            <mat-card-header style="background-color: #283593" class="p-0" fxLayout="row" fxLayoutAlign="space-between center">
                <img style="max-width: 50px" mat-card-avatar src="assets/football.png"/>
                <h6 class="user-name game-title">{{game.teamA}} - {{game.teamB}}</h6>
                <button style="color: white" mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
                    <mat-icon>settings</mat-icon>
                </button>
            </mat-card-header>
            <mat-menu  #menu="matMenu" xPosition="before" overlapTrigger="true">
                <span>
                    <button mat-menu-item (click)="openNewGameDialog(game)">
                        <mat-icon>mode_edit</mat-icon>
                        <span>Modifier</span>
                    </button>
                    <button mat-menu-item (click)="deleteGame(game);">
                        <mat-icon>delete</mat-icon>
                        <span>Supprimer</span>
                    </button>
                </span>
            </mat-menu>
            <div fxLayout="row" fxLayoutAlign="space-around center">
                <div style="padding: 5px; margin: 20px;" fxFlex="30" fxLayout="column" class="user-details transition-2"
                     [class.blocked]="isGameBlocked(game)">
                    <mat-button-toggle [disabled]="isGameBlocked(game) || isGameEnded(game)"
                                       [checked]="game.checked && game.choice === 'A'"
                                       (change)="onAChange(game)">
                        <span style="font-weight: bold;color: #283593">{{game.oddA | number: ".2-2"}}</span><mat-icon>arrow_right</mat-icon>
                        <span style="font-weight: bold">{{game.teamA}}</span>
                    </mat-button-toggle>

                </div>


                <div style="padding: 5px; margin: 5px;" fxFlex="30" fxLayout="column" class="user-details transition-2"
                     [class.blocked]="isGameBlocked(game)">
                    <mat-button-toggle [disabled]="isGameBlocked(game) || isGameEnded(game)"
                                       [checked]="game.checked && game.choice === 'B'"
                                       (change)="onBChange(game)"
                                       >
                        <span style="font-weight: bold;color: #283593;">{{game.oddB | number: ".2-2"}}</span><mat-icon>arrow_right</mat-icon>
                        <span style="font-weight: bold;">{{game.teamB}}</span>
                    </mat-button-toggle>
                </div>


                <div *ngIf="game.oddN" style="padding: 5px; margin: 5px;font-size: 120%" fxFlex="30" fxLayout="column"
                     class="user-details transition-2" [class.blocked]="isGameBlocked(game)">

                    <mat-button-toggle [disabled]="isGameBlocked(game) || isGameEnded(game)"
                                       [checked]="game.checked && game.choice === 'N'"
                                       (change)="onNChange(game)">
                        <span style="font-weight: bold;color: #283593;font-size: 90%">{{game.oddN | number: ".2-2"}}</span><mat-icon>arrow_right</mat-icon>
                        <span style="font-weight: bold;font-size: 90%">Match nul</span>
                    </mat-button-toggle>
                </div>

            </div>

            <div fxLayout="row" fxLayoutAlign="space-around center" style="margin-bottom: 10px; text-align: center">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div *ngIf="!isGameBlocked(game) && !isGameEnded(game)">
                        <p>
                            <mat-icon style="vertical-align: bottom;" class="muted-text">date_range</mat-icon>
                            <span>{{game.datetime | date:"dd MMM 'à' HH:mm"}}</span></p>
                    </div>

                    <div *ngIf="isGameBlocked(game)">
                        <mat-icon style="vertical-align: bottom;" class="muted-text">date_range</mat-icon>
                        <span>{{game.datetime | date:"dd MMM 'à' HH:mm"}}</span>
                        <br><span style="color: red">Le match commence bientôt, les paris ne sont plus acceptés</span>
                    </div>

                    <div *ngIf="isGameEnded(game)">
                        <mat-icon style="vertical-align: bottom;" class="muted-text">date_range</mat-icon>
                        <span>{{game.datetime | date:"dd MMM 'à' HH:mm"}}</span>
                        <br><span style="color: green">Le match est terminé</span>
                    </div>
                </div>
            </div>

        </mat-card>
    </div>
</div>


<div *ngIf="!games" fxLayout="column" fxLayoutAlign="center center" style="text-align: center; margin-top: 30px">
    <app-spinner [message]="'Chargement des matchs'"></app-spinner>
</div>

