<div fxLayout="column" fxLayoutAlign="space-between center" class="flex-p">
    <div fxLayout="row" fxLayoutAlign="center center">
        <div>
            <mat-form-field class="w-100" appearance="outline" >
                <mat-label>
                    Recherche
                </mat-label>
                <input autocomplete="off" matInput placeholder="Chercher par nom d'équipe" [(ngModel)]="searchText"
                       name="search" >
            </mat-form-field>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-bottom: 20px">
        <button mat-raised-button color="default" *ngIf="isUserAdmin()" value="add" (click)="openNewGameDialog(null)">
            <fa-icon style="font-size: 150%" icon="calendar-plus"></fa-icon> Ajouter un match
        </button>

        <button style="margin-left: 5px" mat-raised-button color="default" *ngIf="!showPassedGames" value="add" (click)="onShowPassedGames()">
            <fa-icon style="font-size: 150%" icon="eye"></fa-icon> Afficher matchs terminés
        </button>

        <button style="margin-left: 5px" mat-raised-button color="default" *ngIf="showPassedGames" value="add" (click)="onShowPassedGames()">
            <fa-icon style="font-size: 150%" icon="eye-slash"></fa-icon> Cacher les matchs terminés
        </button>

    </div>

</div>

<div class="row" *ngIf="!filteredGames()" fxLayout="column" fxLayoutAlign="center center"
     style="text-align: center; padding-top: 100px">
    <div>
        <div style="color: #283593;">
            <mat-icon style="font-size: 70px;margin-right: 35px;">mood_bad</mat-icon>
        </div>
        <h5>Aucun match en cours</h5>
    </div>
</div>

<div fxLayout="row wrap">
    <div *ngFor="let game of filteredGames() | UserSearchPipe : searchText; let i=index"
         fxFlex="100" fxFlex.gt-md="33" fxFlex.md="33" class="flex-p">
        <mat-card class="p-0 " [style]="passedGameStyle(game)">
            <mat-card-header class="bg-primary" fxLayout="row" fxLayoutAlign="space-between center">
                <img style="max-width: 50px" mat-card-avatar src="assets/football.png"/>
                <div fxLayout="column" fxFlex="90">
                    <p class="game-title-league">Ligue 1</p>
                    <h6 class="user-name game-title">{{game.teamA}} - {{game.teamB}}</h6>
                </div>
                <button *ngIf="isUserAdmin()" style="color: white" mat-icon-button [matMenuTriggerFor]="menu"
                        #menuTrigger="matMenuTrigger">
                    <mat-icon>settings</mat-icon>
                </button>
            </mat-card-header>
            <mat-menu #menu="matMenu" xPosition="before" overlapTrigger="true">
                <span>
                    <button mat-menu-item (click)="openNewGameDialog(game)">
                        <mat-icon>mode_edit</mat-icon>
                        <span>Modifier</span>
                    </button>
                    <button mat-menu-item (click)="deleteGame(game);">
                        <mat-icon>delete</mat-icon>
                        <span>Supprimer</span>
                    </button>
                </span>
            </mat-menu>
            <div fxLayout="row" fxLayoutAlign="space-around center">
                <div style="padding: 5px; margin: 20px;" fxFlex="30" fxLayout="column" class="user-details transition-2"
                     [class.blocked]="isGameBlocked(game)">
                    <mat-button-toggle [disabled]="isGameBlocked(game) || isGameEnded(game)"
                                       [checked]="game.checked && game.choice === 'A'"
                                       (change)="onAChange(game)">
                        <span class="bg-primary bet-label">1</span><span
                            style="font-weight: bold; padding-left: 5px">{{ game.oddA | number: ".2-2"}}</span>
                    </mat-button-toggle>

                </div>

                <div *ngIf="game.oddN" style="padding: 5px; margin: 5px;" fxFlex="30" fxLayout="column"
                     class="user-details transition-2" [class.blocked]="isGameBlocked(game)">

                    <mat-button-toggle [disabled]="isGameBlocked(game) || isGameEnded(game)"
                                       [checked]="game.checked && game.choice === 'N'"
                                       (change)="onNChange(game)">
                        <span class="bg-primary bet-label">N</span><span
                            style="font-weight: bold; padding-left: 5px"> {{game.oddN | number: ".2-2"}}</span>

                    </mat-button-toggle>
                </div>

                <div style="padding: 5px; margin: 5px;" fxFlex="30" fxLayout="column" class="user-details transition-2"
                     [class.blocked]="isGameBlocked(game)">
                    <mat-button-toggle [disabled]="isGameBlocked(game) || isGameEnded(game)"
                                       [checked]="game.checked && game.choice === 'B'"
                                       (change)="onBChange(game)"
                    >
                        <span class="bg-primary bet-label">2</span><span
                            style="font-weight: bold; padding-left: 5px"> {{game.oddB | number: ".2-2"}}</span>

                    </mat-button-toggle>
                </div>


            </div>

            <div fxLayout="row" fxLayoutAlign="space-around center" style="margin-bottom: 10px; text-align: center">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div *ngIf="!isGameBlocked(game) && !isGameEnded(game)">
                        <p>
                            <mat-icon style="vertical-align: bottom;" class="muted-text">date_range</mat-icon>
                            <span>{{game.datetime | date:"dd MMM 'à' HH:mm"}}</span></p>
                    </div>

                    <div *ngIf="isGameBlocked(game)">
                        <mat-icon style="vertical-align: bottom;" class="muted-text">date_range</mat-icon>
                        <span>{{game.datetime | date:"dd MMM 'à' HH:mm"}}</span>
                        <br><span style="color: red">Le match commence bientôt, les paris ne sont plus acceptés</span>
                    </div>

                    <div *ngIf="isGameEnded(game)">
                        <mat-icon style="vertical-align: bottom;" class="muted-text">date_range</mat-icon>
                        <span>{{game.datetime | date:"dd MMM 'à' HH:mm"}}</span>
                        <br><span style="color: green">Le match est terminé</span>
                    </div>
                </div>
            </div>

        </mat-card>
    </div>
</div>


<div *ngIf="!games" fxLayout="column" fxLayoutAlign="center center" style="text-align: center; margin-top: 30px">
    <app-spinner [message]="'Chargement des matchs'"></app-spinner>
</div>

